:root {
  --size-1: clamp(0.8rem, 0.7000000000000001rem + 0.24999999999999997vw, 1rem);
  --size-2: clamp(1rem, 0.875rem + 0.3125vw, 1.25rem);
  --size-3: clamp(1.2rem, 1.14rem + 0.30000000000000004vw, 1.5rem);
  --size-4: clamp(1.5rem, 1.3125rem + 0.46875000000000006vw, 1.875rem);
  --size-5: clamp(2.4rem, 2.0999999999999996rem + 0.7500000000000001vw, 3rem);

  --padding-1: clamp(0.5rem, 0.4375rem + 0.15625vw, 0.625rem);
  --padding-2: clamp(1rem, 0rem + 2.5vw, 3rem);

  --primary-1: hsl(0, 0%, 0%);
  --primary-2: hsl(0, 0%, 25%);
  --primary-3: hsl(0, 0%, 50%);
  --primary-4: hsl(0, 0%, 75%);
  --primary-5: hsl(0, 0%, 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-1: hsl(0, 0%, 100%);
    --primary-2: hsl(0, 0%, 75%);
    --primary-3: hsl(0, 0%, 65%);
    --primary-4: hsl(0, 0%, 50%);
    --primary-5: hsl(0, 0%, 0%);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-5);
  color: var(--primary-1);
}

nav {
  background: var(--primary-5);
  z-index: 1;
  position: fixed;
  width: 100%;
  padding: var(--padding-2);
}

nav ul {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: calc(1.25 * var(--size-2));
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  font-size: var(--size-2);
  text-decoration: none;
  color: var(--primary-3);
  cursor: pointer;
}

nav a:hover,
nav a.active {
  color: var(--primary-1);
}

nav span {
  font-size: var(--size-5);
  font-weight: 700;
  letter-spacing: -0.15rem;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.hero + .hero {
  margin-top: 35vh;
}

.hero {
  position: relative;
  width: 100%;
  transition: height 0.25s ease-out;
  padding: var(--padding-2);
}

.social_media-redirects {
  display: flex;
  gap: var(--size-1);
}

.social_media-redirects .social_media-icon {
  fill: var(--primary-2);
}

.social_media-redirects .social_media-icon:hover {
  fill: var(--primary-1);
}

.social_media-redirects .social_media-icon svg {
  width: var(--size-4);
  height: var(--size-4);
}

.hero#title {
  max-height: 100vh;
  height: 100dvh;
}

.hero#title > .hero-content .social_media-redirects {
  margin-top: var(--size-1);
}

.hero#title > .hero-content {
  position: absolute;
  bottom: 0;
  transform: translate(0%, -1rem);
  transform: translate(0%, clamp(-3rem, 0rem - 2.5vw, -1rem));
  overflow: visible;

  width: max-content;
}

.hero#title > .hero-content .top-text {
  color: var(--primary-3);
  font-size: var(--size-2);
  font-weight: 400;
}

.hero#title > .hero-content .big-text {
  width: fit-content;
  clear: both;
  margin: unset;
  font-size: var(--size-5);
  font-weight: 700;
  letter-spacing: clamp(-0.12rem, -0.11399999999999999rem - 0.03vw, -0.15rem);
}

.hero#title > .hero-content .bottom-text {
  color: var(--primary-4);
  font-size: var(--size-1);
}

.hero#aboutme,
.hero#projects {
  max-width: 135rem;
  margin-left: auto;
  margin-right: auto;
}

.hero#aboutme > .hero-content,
.hero#projects > .hero-content {
  padding: 0 calc(clamp(0rem, -0.9375rem + 2.34375vw, 1.875rem) * 4);
}

.hero#aboutme > .hero-content p {
  color: var(--primary-2);
  font-size: var(--size-4);
}

.hero-segue {
  height: 150vh;
  padding: 0 var(--padding-2);
}

.hero-segue p {
  position: sticky;
  text-align: center;
  top: 50vh;
  color: var(--primary-3);
  font-size: var(--size-4);
}

.hero#aboutme + .hero#projects {
  margin-top: 0%;
}

.hero#projects > .hero-content {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
}

.hero#projects > .hero-content .project + .project {
  margin-top: 2rem;
}

.hero#projects > .hero-content .project .project-title {
  color: var(--primary-1);
  font-weight: 700;
  font-size: var(--size-3);
  text-decoration: none;
}

.hero#projects > .hero-content .project .project-title a {
  display: flex;
  align-items: center;
  gap: var(--size-1);
}

.hero#projects > .hero-content .project .project-title a svg {
  width: var(--size-2);
  height: var(--size-2);
}

.hero#projects > .hero-content .project p {
  color: var(--primary-3);
  font-size: var(--size-2);
  margin-top: var(--size-3);
  margin-bottom: 0;
}

.hero#projects > .hero-content .project ul {
  margin-top: var(--size-1);
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--padding-1);
  padding: 0px;
}

.hero#projects > .hero-content .project ul li {
  background: color-mix(in srgb, var(--primary-4) 30%, transparent);
  list-style: none;
  padding: var(--padding-1) var(--size-1);
  border-radius: var(--size-2);
  font-size: var(--size-1);
}

.hero#contact {
  position: relative;
  height: 100dvh;
}

.hero#contact > .hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--size-4);
}

.hero#contact > .hero-content p {
  width: max-content;
  text-align: center;
}

.hero#contact > .hero-content .social_media-redirects {
  margin-top: var(--size-4);
  justify-content: center;
  gap: var(--size-3);
}

.hero#contact > .hero-content .social_media-icon svg {
  width: var(--size-5);
  height: var(--size-5);
}
